-# coding: UTF-8
%form.problem{action: 'verify/problem/' + id, 'accept-charset' => 'UTF-8', id: "problem_#{id}", method: 'post'}
  %fieldset

    %legend Problem #{index}
    %p= question

    .row.collapse
      .large-10.small-3.columns
        %input{name: 'answer', type: 'text'}
      .large-2.small-1.columns
        %a.button.small.submit.expand.postfix.radius{href: '#'} Submit
