-# coding: UTF-8
%form.problem{action: "verify/problem/#{id}", 'accept-charset' => 'UTF-8', id: "problem_#{id}", method: 'post'}
  %fieldset

    %legend Problem #{id + 1}
    %p= question

    .row.collapse
      .large-10.small-3.columns
        %input{name: 'answer', type: 'text'}
      .large-2.small-1.columns
        %input.small.button.expand.radius{type: 'submit', value: 'Submit'}
